<div id="footer">
	<img alt="Plant Consultant" class="ftlogo" src="images/01-main_145.png" />
	<div class="ftnav">
		<div class="ftbox">
			<h3 class="fthead">Personal Service</h3>
			<ul class="ftmenu">
				<li><a href="#">Plan for retirement</a></li>
				<li><a href="#">Plan for investment</a></li>
				<li><a href="#">Plan for protection</a></li>
				<li><a href="#">Plan for Tax</a></li>
			</ul>
		</div>
		<div class="ftbox">
			<h3 class="fthead">Corporate Service</h3>
			<ul class="ftmenu">
				<li><a href="service-corporation.html">Personal finance management training</a></li>
				<li><a href="service-corporation.html">Employee financial wellbeing consultation</a></li>
				<li><a href="service-corporation.html">Financial product for organization</a></li>
			</ul>
		</div>
		<div class="ftbox">
			<h3 class="fthead">about</h3>
			<ul class="ftmenu">
				<li><a href="about.html">Our story</a></li>
				<li>© Plant Consultant</li>
			</ul>
		</div>
		<div class="ftbox">
			<h3 class="fthead">follow us</h3>
			<ul class="ftmenu">
				<li><a href="https://www.facebook.com/plantconsultant/" target="_blank"><img alt="" src="images/01-main_137.png" /><p>plant</p></a></li>
				<li><a href="http://line.me/ti/p/@plant.co" target="_blank"><img alt="" src="images/01-main_140.png" /><p>@plant.co</p></a></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
